<section class="sidebar__intern">
  <section>
    <div>
      <%= link_to products_path do %>
        Productos
      <% end %>
    </div>
    <div>
      <%= link_to orders_path do %>
        Pedidos
      <% end %>
    </div>
  </section>
  <section>
    <div>
      <% if user_signed_in? %>
        <%= link_to "Cerrar sesión", destroy_user_session_path, data: {turbo_method: :delete} %>
      <% else %>
        <%= link_to 'Iniciar sesión', new_user_session_path %>
      <% end %>
    </div>
  </section>
</section>
