<h1>Configuración</h1>

<% if @setting.logo.attached? %>
  <%= image_tag @setting.logo, style:"width: 100%" %>
<% else %>
  <!-- Muestra una imagen predeterminada si no hay logo adjunto -->
  LOGO
<% end %>

<p>Nombre del sitio: <%= @setting.site_name %></p>
<!-- Otros atributos de la configuración -->

<%= link_to 'Editar', edit_setting_path(@setting) %>
