body {
  font-family: "Poppins", sans-serif;
  background-color: $background;
  overflow: hidden;
}

.body-session {
  display: grid;
  grid-template-rows: 16vh 1fr;

}

* {
  box-sizing: border-box;
}
