$azul-principal: #40BDE1;
$morado-principal: #6A5CA4;
$background: #F3F8FE;


//gray
$gray-1: #FFFFFF;
$gray-2: #F0F0F0;
$gray-3: #D0D0D0;
$gray-4: #B0B0B0;
$gray-5: #909090;
$gray-6: #707070;
$gray-7: #505050;
$gray-8: #303030;
$gray-9: #101010;
$gray-10: #000000;
